Adafruit-Blinka==2.4.1
adafruit-circuitpython-busdevice==4.0.0
adafruit-circuitpython-lis3dh==5.0.1
adafruit-circuitpython-motor==2.0.0
adafruit-circuitpython-pca9685==3.2.5
adafruit-circuitpython-register==1.7.1
adafruit-circuitpython-servokit==1.1.0
Adafruit-GPIO
Adafruit-PCA9685
Adafruit-PlatformDetect
Adafruit-PureIO
asn1crypto
astroid
asttokens
attrs
automationhat
backcall
beautifulsoup4
bleach
blinker
blinkt
Bluetin-Echo
board
buttonshim
cachetools
call
Cap1xxx
certifi
cffi
chardet
Click==7.0
colorama==0.3.7
colorzero==1.1
cookies==2.2.1
cryptography==2.6.1
cycler==0.10.0
decorator==4.3.0
defusedxml==0.6.0
Django==2.2.13
dlib==19.17.0
docutils==0.14
drumhat==0.1.0
edgetpu==2.11.1
entrypoints==0.3
envirophat==1.0.0
ExplorerHAT==0.4.2
face-recognition==1.2.3
face-recognition-models==0.3.0
Flask==1.0.2
fourletterphat==0.1.0
google-api-python-client==1.7.11
google-auth==1.6.3
google-auth-httplib2==0.0.3
gpiozero==1.5.1
html5lib==1.0.1
httplib2==0.13.1
idna==2.6
imutils==0.5.3
ipykernel==5.1.2
ipython==7.8.0
ipython-genutils==0.2.0
ipywidgets==7.5.1
isort==4.3.4
itsdangerous==0.24
jedi==0.13.2
Jinja2==2.10
jsonschema==3.0.2
jupyter==1.0.0
jupyter-client==5.3.3
jupyter-console==6.0.0
jupyter-core==4.5.0
keyring==17.1.1
keyrings.alt==3.1.1
kiwisolver==1.0.1
lazy-object-proxy==1.3.1
logilab-common==1.4.2
lxml==4.3.2
MarkupSafe==1.1.0
matplotlib==3.0.2
mccabe==0.6.1
microdotphat==0.2.1
mistune==0.8.4
mote==0.0.4
motephat==0.0.2
mypy==0.670
mypy-extensions==0.4.1
nbconvert==5.6.0
nbformat==4.4.0
notebook==6.0.1
numpy==1.16.2
oauthlib==2.1.0
olefile==0.46
opencv-python==3.4.3.18
packaging==19.2
paho-mqtt==1.4.0
pandocfilters==1.4.2
pantilthat==0.0.7
parso==0.3.1
pexpect==4.7.0
pgzero==1.2
phatbeat==0.1.1
pianohat==0.1.0
picamera==1.13
pickleshare==0.7.5
picraft==1.0
piglow==1.2.4
pigpio==1.44
Pillow==5.4.1
prometheus-client==0.7.1
prompt-toolkit==2.0.10
psutil==5.5.1
ptyprocess==0.6.0
pyasn1==0.4.7
pyasn1-modules==0.2.6
PyAudio==0.2.11
pycairo==1.16.2
pycparser==2.19
pycrypto==2.6.1
pygame==1.9.4.post1
Pygments==2.3.1
PyGObject==3.30.4
pyinotify==0.9.6
PyJWT==1.7.0
pylint==2.2.2
pyOpenSSL==19.0.0
pyparsing==2.4.1.1
pyqt==0.1
pyrsistent==0.15.4
pyserial==3.4
python-apt==1.8.4
python-dateutil==2.7.3
python-xlib==0.25
pyttsx3==2.71
pytz==2019.2
PyUserInput==0.1.11
pyxdg==0.25
pyzmq==18.1.0
qtconsole==4.5.5
rainbowhat==0.1.0
requests==2.21.0
requests-oauthlib==1.0.0
responses==0.9.0
roman==2.0.0
rpi-ws281x
RPi.GPIO
rsa
RTIMULib
scipy
scrollphat
scrollphathd
SecretStorage
Send2Trash
sense-emu
sense-hat
simplejson
sip
six
skywriter
sn3218
soupsieve
SpeechRecognition
spidev
sqlparse
ssh-import-id
svgwrite
sysv-ipc
terminado
testpath
thonny
toml
tornado
touchphat
traitlets
twython
typed-ast
unicornhathd
uritemplate
urllib3
virtualenv
wcwidth
webencodings
Werkzeug
widgetsnbextension
wrapt
